header {
   display: flex;
   flex-direction: column;
   background-color: lightsteelblue;
   padding: 8px;
}

.logo-banner {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}


body {
   margin: 0;
   font-family: Helvetica, sans-serif;
   background-color: lightsteelblue;
}

footer {
   display: flex;
   background-color: lightsteelblue;
   justify-content: right;
}

nav {
   grid-area: nav;
   text-align: center;
   justify-content: space-between;
   margin: 10px;
}

nav li {
   display: inline;
}

nav li a {
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   font-size: larger;
   background-color: lightgreen;
   padding: 10px 20px;
}

a:hover {
   color: gray; 
}  

a:active {
   color: purple;
}